<!-- <ion-header>
  <ion-navbar>
    <ion-title>home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div *ngIf="!isScanningQr">
    <div class="logo-section">
      <div class="logo-space">
        <img class="logo"
          src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/22688681_1254735414672284_4172083792794362636_n.png?_nc_cat=104&_nc_ht=scontent.fcbb1-1.fna&oh=fccbb6cc8a2f543168a6f1c751e1661f&oe=5D18FDC9" />
      </div>
    </div>
    <div class="name-section">{{eventName}}</div>
    <ion-card>
      <ion-card-content>
        <div style="width: 100%; overflow: hidden;">
          <div class="counter-text"> Current: </div>
          <div class="lightgreen participants">{{attendants.inside}}</div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div style="width: 100%; overflow: hidden;">
          <div class="counter-text"> Missing: </div>
          <div class="red participants">{{attendants.outside}}</div>
        </div>
      </ion-card-content>
    </ion-card>
    <div style="text-align: center; margin-top:32px;">
      <div style="display: inline-block;">
        <button class="btn" ion-button (click)="openScanner()">
          <i class="fas fa-qrcode my-icon"></i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isScanningQr" class="scanner">
    <div class="close-button">
      <button class="btn" ion-button color="danger" (click)="closeScanner()">
        <i class="fas fa-times my-icon"></i>
      </button>
    </div>
  </div>
</ion-content>